#weather-app {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100vh;
    
    background-color: #0e84be;
}

#weather-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff6b;
    width: 375px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#barometer-container {
    background: url(../img/barometer.png) no-repeat center center;
    width: 375px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#fish-animation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff6b;
    width: 375px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

#barometer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #e66666dc;
    width: 75px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 43%;
    left: 53%;

}

#barpointer{
    position: relative;
    top: -35%;
    left: 49%;
}

#temp-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

#temp{
    color: rgb(0, 0, 0, 0.8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#wind-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#wind{
    color: rgb(0, 0, 0, 0.8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#wind-img{
    display: none;
    
}

#user-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#user-city{
    color: rgb(0, 0, 0, 0.8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}