html {
    font-size: 62.5%;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    max-width: 100vw;
    
   
}

nav {
    background-color: #3498db; /* Blå färg, kan anpassas efter din design */
    padding: 10px 0;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    margin-right: 20px; /* Justera avståndet mellan länkarna */
}

a {
    text-decoration: none;
    color: #fff; /* Vit färg för länktexten, kan anpassas efter din design */
    font-size: 18px; /* Storlek på länktexten, kan justeras efter behov */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #2980b9; /* Ändra bakgrundsfärgen när användaren hovrar över länken */
}



/* ---------Current weather ----------- */


#current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#weather-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.weather-description{
    z-index: 3;
    position: absolute;
    top: 23%;
    left: 37%;
    color: #58595b;
}

#barometer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fish-animation-container {
    position: absolute;
    bottom: 6%;
    left: 0;
    width: 100%;
}

#fish-animation-container-background{
    width: 100%;
    height: 100%;
}

#barometer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #58595b;
    position: absolute;
    top: 45%;
    left: 36%;
    z-index: 2;
}

#barpointer {
    position: absolute;
    top: 33%;
    left: 50%;
    height: 13%;
    z-index: 5;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(-45deg);
}

#barometer-container-background {
    position: absolute;
    top: 30%;
    width: 90%;
}

#temp-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#temp {
    color: #58595b;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#wind-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#wind {
    color: #58595b;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#wind-img {
    display: none;
}

#user-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 200px;
    height: 50px;
}

#user-city {
    color: #58595b;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#fish {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    z-index: 1;
    animation: bottom-swim 6s linear infinite;
}

#fishActive {
    position: absolute;
    top: 35%;
    left: 0;
    width: 30%;
    z-index: 1;
    animation: top-swim 4s linear infinite;
}


@keyframes bottom-swim {
    0% {
        transform: translateX(0) rotate3d(0, 1, 0, 30deg);
    }

    25% {
        transform: translateY(-10px) translateX(20px) rotate3d(0, 1, 0, -30deg);
    }

    50% {
        transform: translateY(-10px) translateX(20px) rotate3d(0, 1, 0, 30deg);
    }
}


@keyframes top-swim {
    0% {
        transform: translateX(20px) rotate3d(0, 1, 0, 30deg);
    }

    10% {
        transform: translateX(40px) rotate3d(0, 1, 0, -20deg);
    }

    25% {
        transform: translateX(80px) translateY(-30px) rotate3d(0, 1, 1, -20deg);
    }

    35% {
        transform: translateX(160px) translateY(-30px) rotate3d(0, 1, 1, 20deg);
    }

    50% {
        transform: translateX(300px) rotate3d(0, 1, 0, 180deg);
    }

    65% {
        transform: translateX(160px) rotate3d(0, 1, 0, 160deg);
    }

    75% {
        transform: translateX(80px) rotate3d(0, 1, 0, 180deg);
    }

    85% {
        transform: translateX(40px) rotate3d(0, 1, 0, 160deg);
    }

    100% {
        transform: translateX(10px) rotate3d(0, 1, 0, 20deg);
    }

}

.weather-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: fill;
}


/* ---------Hourly ----------- */

#hourly-weather {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#hourly-weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hour-weather{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.weather-icon{
    width: 50px;
    height: 50px;
    
}


/* ---------Forecast ----------- */


#forecast-weather {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}










